.tabs {
    width: 100%;
}

.tab-links {
    display: flex;

    margin: 0;
    padding: 0;
}

.tab-links li {
    margin: 0 5px;

    list-style: none;
}

.tab-links li:first-child {
    margin-left: 0;
}

.tab-links a {
    font-size: 16px;
    font-weight: 600;

    display: inline-block;

    padding: 9px 15px;

    color: #fff;
    border-radius: 7px 7px 0 0;
    background: #0ba6ee;

    outline: 0;
    text-decoration: none;
    transition: all linear 0.15s;
}

.tab-links a:hover {
    background: rgba(0, 166, 238, 0.4);

    text-decoration: none;
}

li.active a, li.active a:hover {
    color: #000;
    background: #fff;
}

.tab-content {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;

    border-radius: 0 7px 7px;
    background: #fff;
    box-shadow: 3px 3px 20px 4px rgba(50, 50, 50, 0.25);
    a {
        font-size: 30px;

        width: 50px;
        height: 50px;
        margin: 0 30px;
        padding: 20px;

        color: #0ba6ee;

        text-decoration: none;
        &:hover {
            opacity: 0.8;
        }
    }
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}
